<div>
    <h2 id="page-heading">
        <span jhiTranslate="sicapuc20201App.medicaoInstrumento.home.title">Medicao Instrumentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medicao-instrumento" [routerLink]="['/medicao-instrumento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sicapuc20201App.medicaoInstrumento.home.createLabel">
            Create new Medicao Instrumento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="medicaoInstrumentos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sicapuc20201App.medicaoInstrumento.data">Data</span></th>
            <th><span jhiTranslate="sicapuc20201App.medicaoInstrumento.valor">Valor</span></th>
            <th><span jhiTranslate="sicapuc20201App.medicaoInstrumento.instrumentoMonitoramento">Instrumento Monitoramento</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medicaoInstrumento of medicaoInstrumentos ;trackBy: trackId">
                <td><a [routerLink]="['/medicao-instrumento', medicaoInstrumento.id, 'view' ]">{{medicaoInstrumento.id}}</a></td>
                <td>{{medicaoInstrumento.data | date:'medium'}}</td>
                <td>{{medicaoInstrumento.valor}}</td>
                <td>
                    <div *ngIf="medicaoInstrumento.instrumentoMonitoramentoId">
                        <a [routerLink]="['../instrumento-monitoramento', medicaoInstrumento.instrumentoMonitoramentoId , 'view' ]" >{{medicaoInstrumento.instrumentoMonitoramentoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/medicao-instrumento', medicaoInstrumento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medicao-instrumento', medicaoInstrumento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'medicao-instrumento', { outlets: { popup: medicaoInstrumento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
