<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pessoa-heading" jhiTranslate="sicapuc20201App.pessoa.home.createOrEditLabel">Create or edit a Pessoa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pessoa.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicapuc20201App.pessoa.cpf" for="field_cpf">Cpf</label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                           formControlName="cpf"/>
                    <div *ngIf="editForm.get('cpf').invalid && (editForm.get('cpf').dirty || editForm.get('cpf').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cpf').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicapuc20201App.pessoa.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome').invalid && (editForm.get('nome').dirty || editForm.get('nome').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicapuc20201App.pessoa.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicapuc20201App.pessoa.telefone" for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone"
                           formControlName="telefone"/>
                    <div *ngIf="editForm.get('telefone').invalid && (editForm.get('telefone').dirty || editForm.get('telefone').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefone').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicapuc20201App.pessoa.familia" for="field_familia">Familia</label>
                    <select class="form-control" id="field_familia" name="familia" formControlName="familia">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="familiaOption.id === editForm.get('familia').value?.id ? editForm.get('familia').value : familiaOption" *ngFor="let familiaOption of familias; trackBy: trackFamiliaById">{{familiaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
