<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pessoa">
            <h2><span jhiTranslate="sicapuc20201App.pessoa.detail.title">Pessoa</span> {{pessoa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sicapuc20201App.pessoa.cpf">Cpf</span></dt>
                <dd>
                    <span>{{pessoa.cpf}}</span>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.pessoa.nome">Nome</span></dt>
                <dd>
                    <span>{{pessoa.nome}}</span>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.pessoa.email">Email</span></dt>
                <dd>
                    <span>{{pessoa.email}}</span>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.pessoa.telefone">Telefone</span></dt>
                <dd>
                    <span>{{pessoa.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.pessoa.familia">Familia</span></dt>
                <dd>
                    <div *ngIf="pessoa.familiaId">
                        <a [routerLink]="['/familia', pessoa.familiaId, 'view']">{{pessoa.familiaId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pessoa', pessoa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
