<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="funcionario">
            <h2><span jhiTranslate="sicapuc20201App.funcionario.detail.title">Funcionario</span> {{funcionario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sicapuc20201App.funcionario.cargo">Cargo</span></dt>
                <dd>
                    <span>{{funcionario.cargo}}</span>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.funcionario.idDispositivoMonitoramento">Id Dispositivo Monitoramento</span></dt>
                <dd>
                    <span>{{funcionario.idDispositivoMonitoramento}}</span>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.funcionario.setorMineracao">Setor Mineracao</span></dt>
                <dd>
                    <div *ngIf="funcionario.setorMineracao">
                        <a [routerLink]="['/setor-mineracao', funcionario.setorMineracao?.id, 'view']">{{funcionario.setorMineracao?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.funcionario.pessoa">Pessoa</span></dt>
                <dd>
                    <div *ngIf="funcionario.pessoa">
                        <a [routerLink]="['/pessoa', funcionario.pessoa?.id, 'view']">{{funcionario.pessoa?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/funcionario', funcionario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
