<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="setorMineracao">
            <h2><span jhiTranslate="sicapuc20201App.setorMineracao.detail.title">Setor Mineracao</span> {{setorMineracao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sicapuc20201App.setorMineracao.nome">Nome</span></dt>
                <dd>
                    <span>{{setorMineracao.nome}}</span>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.setorMineracao.diretor">Diretor</span></dt>
                <dd>
                    <div *ngIf="setorMineracao.diretorId">
                        <a [routerLink]="['/funcionario', setorMineracao.diretorId, 'view']">{{setorMineracao.diretorId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.setorMineracao.gerente">Gerente</span></dt>
                <dd>
                    <div *ngIf="setorMineracao.gerenteId">
                        <a [routerLink]="['/funcionario', setorMineracao.gerenteId, 'view']">{{setorMineracao.gerenteId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sicapuc20201App.setorMineracao.minaOperacao">Mina Operacao</span></dt>
                <dd>
                    <div *ngIf="setorMineracao.minaOperacaoId">
                        <a [routerLink]="['/mina-operacao', setorMineracao.minaOperacaoId, 'view']">{{setorMineracao.minaOperacaoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/setor-mineracao', setorMineracao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
