<div>
    <h2 id="page-heading">
        <span jhiTranslate="sicapuc20201App.instrumentoMonitoramento.home.title">Instrumento Monitoramentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-instrumento-monitoramento" [routerLink]="['/instrumento-monitoramento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sicapuc20201App.instrumentoMonitoramento.home.createLabel">
            Create new Instrumento Monitoramento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="instrumentoMonitoramentos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sicapuc20201App.instrumentoMonitoramento.identificao">Identificao</span></th>
            <th><span jhiTranslate="sicapuc20201App.instrumentoMonitoramento.tipoInstrumentoMonitoramento">Tipo Instrumento Monitoramento</span></th>
            <th><span jhiTranslate="sicapuc20201App.instrumentoMonitoramento.tipoMedicao">Tipo Medicao</span></th>
            <th><span jhiTranslate="sicapuc20201App.instrumentoMonitoramento.urlGetMedicao">Url Get Medicao</span></th>
            <th><span jhiTranslate="sicapuc20201App.instrumentoMonitoramento.intervaloMedicaoAPI">Intervalo Medicao API</span></th>
            <th><span jhiTranslate="sicapuc20201App.instrumentoMonitoramento.varianciaTolerada">Variancia Tolerada</span></th>
            <th><span jhiTranslate="sicapuc20201App.instrumentoMonitoramento.limiteSuperior">Limite Superior</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instrumentoMonitoramento of instrumentoMonitoramentos ;trackBy: trackId">
                <td><a [routerLink]="['/instrumento-monitoramento', instrumentoMonitoramento.id, 'view' ]">{{instrumentoMonitoramento.id}}</a></td>
                <td>{{instrumentoMonitoramento.identificao}}</td>
                <td jhiTranslate="{{'sicapuc20201App.TipoInstrumentoMonitoramento.' + instrumentoMonitoramento.tipoInstrumentoMonitoramento}}">{{instrumentoMonitoramento.tipoInstrumentoMonitoramento}}</td>
                <td jhiTranslate="{{'sicapuc20201App.TipoMedicao.' + instrumentoMonitoramento.tipoMedicao}}">{{instrumentoMonitoramento.tipoMedicao}}</td>
                <td>{{instrumentoMonitoramento.urlGetMedicao}}</td>
                <td>{{instrumentoMonitoramento.intervaloMedicaoAPI}}</td>
                <td>{{instrumentoMonitoramento.varianciaTolerada}}</td>
                <td>{{instrumentoMonitoramento.limiteSuperior}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/instrumento-monitoramento', instrumentoMonitoramento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/instrumento-monitoramento', instrumentoMonitoramento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'instrumento-monitoramento', { outlets: { popup: instrumentoMonitoramento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
