<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sirene-heading" jhiTranslate="sicapuc20201App.sirene.home.createOrEditLabel">Create or edit a Sirene</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sirene.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicapuc20201App.sirene.identificacao" for="field_identificacao">Identificacao</label>
                    <input type="text" class="form-control" name="identificacao" id="field_identificacao"
                           formControlName="identificacao"/>
                    <div *ngIf="editForm.get('identificacao').invalid && (editForm.get('identificacao').dirty || editForm.get('identificacao').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('identificacao').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicapuc20201App.sirene.urlAtivar" for="field_urlAtivar">Url Ativar</label>
                    <input type="text" class="form-control" name="urlAtivar" id="field_urlAtivar"
                           formControlName="urlAtivar"/>
                    <div *ngIf="editForm.get('urlAtivar').invalid && (editForm.get('urlAtivar').dirty || editForm.get('urlAtivar').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('urlAtivar').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicapuc20201App.sirene.areaSusceptivel" for="field_areaSusceptivel">Area Susceptivel</label>
                    <select class="form-control" id="field_areaSusceptivel" name="areaSusceptivel" formControlName="areaSusceptivel">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="areaSusceptivelOption.id === editForm.get('areaSusceptivel').value?.id ? editForm.get('areaSusceptivel').value : areaSusceptivelOption" *ngFor="let areaSusceptivelOption of areasusceptivels; trackBy: trackAreaSusceptivelById">{{areaSusceptivelOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
