<div>
    <h2 id="page-heading">
        <span jhiTranslate="sicapuc20201App.familia.home.title">Familias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-familia" [routerLink]="['/familia/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sicapuc20201App.familia.home.createLabel">
            Create new Familia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="familias">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sicapuc20201App.familia.identificacao">Identificacao</span></th>
            <th><span jhiTranslate="sicapuc20201App.familia.areaSusceptivel">Area Susceptivel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let familia of familias ;trackBy: trackId">
                <td><a [routerLink]="['/familia', familia.id, 'view' ]">{{familia.id}}</a></td>
                <td>{{familia.identificacao}}</td>
                <td>
                    <div *ngIf="familia.areaSusceptivel">
                        <a [routerLink]="['../area-susceptivel', familia.areaSusceptivel?.id, 'view' ]" >{{familia.areaSusceptivel?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/familia', familia.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/familia', familia.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'familia', { outlets: { popup: familia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
